:root {
  --line-color: #dee2f4;
}

.comparing {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 3.2rem;
    border: 1px solid #aeacfd;
    border-radius: 1rem;
    margin-bottom: 56px;

    .card-product__functions__button:nth-child(2) {
      display: none;
    }

    @media (min-width: $tablet) {
      font-size: 12px;
    }

    @media (min-width: $desktop) {
      font-size: 16px;
    }
  }

  &__content {
    padding: 1.4rem 4rem;
    // background: $secondary-color-grey-card;
    border-radius: 1rem;
    margin-bottom: 56px;
    display: flex;
    flex-grow: 1;
    align-items: self-start;
  }

  &__empty-state-title {
    font-size: 30px;
    text-align: center;
    margin: 40px 0;
  }

  &__header {
    position: relative;
    padding-right: 7.2rem;
    padding-top: 1rem;

    img {
      margin-bottom: 1.6rem;
      max-width: 22.5rem;
      max-height: 22.5rem;
    }

    button {
      position: absolute;
      right: 0.8rem;
      top: -1rem;
    }
  }

  &__content-wrapper {
    display: grid;
    gap: 0.8rem;
    overflow-y: auto;
    padding-block: 1rem;
  }

  &__grid {
    --cols: 1;
    display: grid;
    grid-template-columns: repeat(var(--cols), minmax(25rem, 30.1rem));
    position: relative;
    gap: 2.4rem;

    align-items: stretch;

    & > a,
    & > a > div {
      height: 100%;
      margin-right: 0;
      padding-right: 2rem;
    }

    & > *:not(:first-child) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: var(--line-color);
        height: calc(100% + 5.1rem);
      }
    }

    .comparing__product-card {
      margin-top: 2.4rem;
    }

    .comparing__product-card,
    .comparing__table {
      & > *:not(:first-child) {
        &::after {
          top: -5.1rem;
          height: calc(100% + 5.1rem);
        }
      }
    }
  }

  &__content-row {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__content-row-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    position: relative;

    li > :first-child:not(.--black) {
      opacity: 0.56;
    }

    &.--with-border {
      * {
        display: grid;
        align-items: center;
      }

      .--remove-border {
        &::before {
          all: unset;
        }
      }

      &::before {
        content: "";
        position: absolute;
        width: calc(3.1rem + 100%);
        height: 1px;
        background: var(--line-color);
        top: 0;
        left: -4rem;
      }
    }
  }

  &__content-row-header {
    font-weight: 700;
    font-size: 1.8rem;
    padding-top: 0.8rem;
    position: relative;
    margin-bottom: 0.8rem;

    &::before {
      content: "";
      position: absolute;
      width: calc(3.1rem + 100%);
      height: 1px;
      background: var(--line-color);
      top: 0;
      left: -4rem;
    }
  }
}
