.banner_main {
  margin: 30px 0;

  .banner_main-slider-item {
    padding: 0 17px;
    @media (min-width: $desktop) {
      width: 608px;
      height: 325px;
    }

    @media (min-width: $desktop) {
      width: 1680px;
      height: 835px;
      border-radius: 20px;
      position: relative;
    }

    &-1 {
      background: $secondary-color-purple-light;

      @media (min-width: $desktop) {
        background: $main-gradient;
      }
    }

    &-2 {
      background: $main-gradient;
      @media (min-width: $desktop) {
        background: $main-gradient;
      }
    }

    &-3 {
      background: $main-gradient;
      @media (min-width: $desktop) {
        background: linear-gradient(135deg, #a2acff 0%, #caadf9 99.79%);
      }
    }
  }

  .banner_main-title {
    padding-top: 16px;
    padding-bottom: 8px;
    text-align: center;
    font:
      600 18px / 1.5 "Inter",
      sans-serif;
    color: $secondary-color-white;

    @media (min-width: $tablet) {
      font:
        600 20px / 1.5 "Inter",
        sans-serif;
    }

    @media (min-width: $desktop) {
      font:
        600 36px / 1.5 "Inter",
        sans-serif;
      padding-top: 50px;
      padding-bottom: 20px;
    }
  }

  .banner_main-descr {
    margin: 0 auto;
    font-weight: 400;
    color: $secondary-color-white;
    opacity: 0.9;

    @media (min-width: $mobile) {
      width: 287px;
      font-size: 14px;
      line-height: 1.5;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 16px;
    }
    @media (min-width: $tablet) {
      width: 665px;
      margin-bottom: 44px;
      overflow: initial;
      text-align: center;
    }
    @media (min-width: $desktop) {
      overflow: initial;
      width: 938px;
      font-size: 20px;
      padding-bottom: 50px;
    }
  }

  .banner_main-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner_main-img {
    //margin-left: 4rem;
    //margin-right: 4rem;
    @media (min-width: $desktop) {
      display: none;
    }
  }

  .banner_main-img-desktop {
    @media (min-width: $mobile) {
      display: none;
    }
    @media (min-width: $desktop) {
      display: flex;
      width: 600px;
      height: 383px;
    }
  }

  .banner_main-price {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;

    @media (min-width: $desktop) {
      flex-direction: row;
      align-items: center;
      text-align: center;
    }
  }

  .banner_main-old-price {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: line-through;
    color: $secondary-color-white;
    opacity: 0.56;
    margin-right: 8px;

    @media (min-width: $desktop) {
      font:
        600 24px / 1.5 "Inter",
        sans-serif;
      text-decoration: line-through;
      opacity: 0.56;
    }
  }

  .banner_main-new-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: $secondary-color-purple;

    @media (min-width: $tablet) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop) {
      font:
        600 36px / 1.5 "Inter",
        sans-serif;
      color: $secondary-color-purple;
      padding-left: 15px;
    }
  }

  .banner_main-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $secondary-color-white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 8px;
    @media (min-width: $tablet) {
      display: none;
    }
  }

  .arrow-svg-container-prev {
    cursor: pointer;
    //left: 30px;
    transform: translateY(-350%) translateX(100%);

    @media (min-width: $desktop) {
    }

    @media (min-width: $desktop) {
      display: inline-block;
      text-align: left;
      margin-left: 30px;
      transform: translateY(200%) translateX(110%);
    }
  }

  .arrow-svg-container-next {
    cursor: pointer;
    display: inline-block;
    right: 0;
    transform: translateY(308%) translateX(-100%);
    @media (min-width: $desktop) {
    }

    @media (min-width: $desktop) {
      transform: translateY(1900%) translateX(-100%);
      display: inline-block;
      text-align: right;
      margin-left: 10px;
    }
  }
}
