.section_especially {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 16px;
  gap: 16px;
  align-items: center;

  &-wrap {
    width: 100%;
    margin-bottom: 16px;
  }

  &-title {
    padding: 30px 0 16px;
    font: 500 18px / 1.5 "Inter",
    sans-serif;
    color: $primary-color-black;
  }

  &-products-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    width: 100%;
    @media (min-width: $desktop) {
      display: none;
    }
  }

  &-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  .section-especially-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 16px;
    width: 100%;
    @media (min-width: $mobile) {
      grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    }
    @media (min-width: 500px) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    @media (min-width: 650px) {
      grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));
    }
  }

  .section_especially-products-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #8119b1;
    border-radius: 5px;
    padding: 12px 32px;
    width: 288px;
    height: 40px;
    @media (min-width: $tablet) {
      margin-top: 24px;
    }

    .btn-text {
      color: $secondary-color-purple;
    }

    .btn-svg {
      padding-left: 8px;
    }
  }

  .section_especially-products-desktop {
    display: none;

    @media (min-width: $desktop) {
      position: relative;
      display: inline-block;
      width: 100%;

      &-arrows {
        display: flex;
        flex-direction: row;
        width: 80px;
        height: 32px;
        position: absolute;
        right: -20px;
        top: -55px;

        .especially_arrow-svg-container-next {
          cursor: pointer;
        }

        .especially_arrow-svg-container-prev {
          margin-left: 30px;
          cursor: pointer;
        }
      }
      .section-especially-item-desktop {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
      }
    }

    .slick-slide {
      padding: 0 10px;
    }

  }
}
