.tab-product-review {
  padding: 3rem 3.2rem;
  background: $secondary-color-grey-card;
  border-radius: 1rem;
  margin-bottom: 56px;

  &__card-list {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
  }

  display: flex;
  gap: 3rem;
  flex-direction: column;

  & > * {
    flex-basis: 1px;
    flex-grow: 1;
  }

  &__form {
    flex-grow: 0.8;
  }

  @media screen and (min-width: 65em) {
    flex-direction: row;

    &__form {
      padding-left: 3rem;
      border-left: 1px solid rgba(163, 173, 255, 0.2);
    }
  }

  &__rating {
    display: flex;
    justify-content: center;
    gap: 1.4rem;
  }

  form {
    display: grid;
    gap: 2.4rem;

    & > * {
      display: grid;
      gap: 0.75rem;
    }

    label {
      cursor: auto;
    }

    button.primary-btn {
      max-width: 38.8rem;
      margin-inline: auto;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  input,
  textarea {
    background: #fff;
    padding: 1.6rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    resize: none;
  }
}
