.orderPage {
  &__content {
    --gap: 4rem;

    background: $secondary-color-grey-card;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    justify-content: space-between;
    margin-bottom: 3rem;
    padding: 2rem;

    @media screen and (min-width: 768px) {
      padding: 3.2rem 3.2rem 3.2rem 9.6rem;
    }

    & > * {
      width: 100%;
    }

    @media screen and (min-width: 1124px) {
      &__cartTotals {
        padding-left: 8rem;
        border-left: 1px solid rgba(163, 173, 255, 0.2);
      }

      & {
        flex-direction: row;

        & > * {
          width: min(100%, 580px);
        }
      }
    }
  }

  &__pageTitle {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
    font-weight: normal;
  }

  &__sectionTitle {
    font-size: 2.4rem;
    font-weight: 500;
    position: relative;
    margin-bottom: 2.4rem;
    left: 6.4rem;

    &::before {
      position: absolute;
      width: 4rem;
      aspect-ratio: 1;
      border-radius: 50%;
      background: #a3adff;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      right: calc(100% + 2.4rem);
      transform: translate(0, -50%);
      color: #fff;
    }

    @media screen and (min-width: 768px) {
      & {
        left: 0;
      }

      &::before {
        left: -6.4rem;
      }
    }

    &[data-index="1"] {
      &::before {
        content: "1";
      }
    }

    &[data-index="2"] {
      &::before {
        content: "2";
      }
    }

    &[data-index="3"] {
      &::before {
        content: "3";
      }
    }
  }

  &__label {
    display: block;
    margin-bottom: 0.8rem;
  }

  &__contactDetails {
    display: grid;
    flex-wrap: wrap;
    gap: 2.4rem clamp(2rem, 4vw, 7.2rem);
    grid-template-columns: repeat(1, 1fr);

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__delivery {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p {
      margin-bottom: 1rem;
    }

    ul {
      margin-top: 0.75rem;
      display: flex;
      gap: 1rem;

      li {
        color: rgba(51, 51, 51, 0.56);
        cursor: pointer;
        font-size: 1.4rem;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
  }

  &__payment {
    ul {
      margin-top: 0.75rem;
      display: flex;
      gap: 1rem;

      li {
        color: rgba(51, 51, 51, 0.56);
        cursor: pointer;
        font-size: 1.4rem;
      }
    }
  }

  &__pageOrder &__heading {
    font-size: 2.4rem;
    font-weight: medium;
    line-height: 120%;
  }

  &__product {
    display: flex;
    align-items: center;
  }

  &__productImage {
    margin-right: 2rem;

    img {
      width: 12.6rem;
      max-width: 100%;
      aspect-ratio: 1;
      object-fit: contain;
    }
  }

  &__cartTotals {
    padding-left: 0;
    border-left: none;
  }

  &__cartTotalsList {
    display: grid;
    gap: 2.4rem;
    margin-bottom: 3rem;
  }

  &__productContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;

    * {
      line-height: 1;
    }

    & > h3 {
      margin-bottom: 0.9rem;
    }

    & > p {
      margin-bottom: 2.2rem;
    }

    p {
      color: $silver;
    }
  }

  &__price {
    font-size: 2.4rem;
    font-weight: bold;
  }

  &__productQuantity {
    display: flex;
    width: 100%;

    justify-content: flex-end;

    &__price {
      margin-right: 1rem;
    }
  }

  &__quantity {
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    font-weight: bold;

    & > div {
      margin-right: 4rem;
    }

    &__quantityControllers {
      display: flex;
      align-items: center;
      gap: 2.4rem;

      div {
        cursor: pointer;
      }

      * {
        color: $secondary-color-grey;
      }
    }
  }

  &__cart {
    h3 {
      font-size: 2.4rem;
    }

    font-size: 1.8rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    & > div {
      display: flex;
      justify-content: space-between;
    }

    button {
      margin-inline: 10%;
    }

    & > p {
      color: $secondary-color-grey;

      a {
        color: $secondary-color-grey;
        text-decoration: underline;
      }
    }
  }

  &__totals {
    width: 100%;
    padding-top: 1.9rem;
    border-top: 1px solid rgba(163, 173, 255, 0.2);
    margin-top: 1.2rem;
    margin-bottom: 1rem;

    span {
      font-weight: 700;
    }
  }

  &__successModalWrapper {
    width: max-content;
    min-width: unset;
    padding: 4rem 2rem;
    max-width: 90vw;
  }

  &__successModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h4 {
      font-size: 2.4rem;
      margin-bottom: 0.8rem;
    }

    ul {
      margin-bottom: 8rem;
    }

    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-inline: 3rem;
      cursor: pointer;
    }
  }

  &__successIcon {
    width: 7.6rem;
    aspect-ratio: 1;
    background: $secondary-color-purple;
    border-radius: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.2rem;
  }
}

.input_ui {
  &__inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 1.6rem;
  }

  &__input {
    background: #fff;
    padding: 0.8rem 1.6rem;
    border-radius: 1rem;
    max-width: 100%;
    width: 100%;

    &::placeholder {
      color: rgba(51, 51, 51, 0.2);
    }
  }

  &__error {
    outline: 0.2rem solid rgb(255, 90, 90);
  }
}
