.usersidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;

  .s1,
  .s2 {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 1.5rem 2rem;
  }

  .s1:hover,
  s2:hover {
    background-color: #a3adff;
    cursor: pointer;
    border-radius: 20px;
  }

  .stylenone {
    text-decoration: none;
    color: inherit;
  }

  @media screen and (min-width: $desktop) {
    .s1,
    .s2 {
      padding: 23px;
    }
  }
}
