.section_top-brands {
  width: 100%;
  height: 100%;

  &-title {
    text-align: center;
    padding: 24px 16px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: $primary-color-black;
    @media (min-width: $tablet) {
      text-align: left;
      font-size: 20px;
    }
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
    justify-content: space-evenly;
    @media (min-width: $tablet) {
      display: none;
    }
    @media (min-width: $desktop) {
      display: flex;
    }
  }

  .section_top-brands-logo {
    display: flex;
    margin-right: 20px;
    height: auto;
    align-items: center;
  }

  .section_top-brands-logo:nth-child(4),
  .section_top-brands-logo:nth-child(8) {
    margin-right: 0;
  }

  .section_top-brands-items-tablet {
    display: none;
    @media (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      @media (min-width: $desktop) {
        display: none;
      }
    }
    .section_top-brands-logo-tablet1 {
      margin: 0 auto;
      padding: 0 25px 34px;
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
    .section_top-brands-logo-tablet2 {
      display: flex;
      justify-content: space-between;
      padding: 0 34px;
      width: 100%;
    }
  }
}
