.social-networks {
  @media screen and (min-width: $desktop) {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &-title {
      font:
        500 18px / 1.5 "Inter",
        sans-serif;
      color: $primary-color-black;
      margin-top: 10px;
      padding-left: 20px;
      padding-bottom: 20px;
    }

    .social-networks-left p {
      font:
        400 13px / 1.5 "Inter",
        sans-serif;
      color: $primary-color-black;
      padding-bottom: 20px;
    }

    .social-networks-icons {
      display: grid;
      grid-template-columns: 250px 250px;
    }
    .social-networks-icons div {
      margin: 0 10px 20px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .social-networks-icons img {
      padding-right: 10px;
    }

    .social-networks-right {
      .social-networks-form {
        margin-left: 20px;
      }

      .contact-form-btn {
        margin-left: 24px;
        border-radius: 5px;
        padding: 12px 80px;
        width: 500px;
        height: 48px;
        background: #8119b1;

        .btn-text {
          font:
            400 15px / 1.5 "Inter",
            sans-serif;
          color: #fff;
        }
      }
    }
  }
}
