.card-product-review {
  border-radius: 1rem;
  padding: 1.4rem 2.4rem;
  background-color: $primary-color-gray;
  border: 1px solid rgba($secondary-color-blue-light, 0.2);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2.4rem;
  }

  &__title {
    font-weight: 500;
    margin: 1.6rem 0 0.8rem;
  }

  &__user-name {
    margin-top: 0;
  }

  &__date {
    font-size: 1.4rem;
    color: rgba($primary-color-black, 0.56);
  }
}
