.mydetails {
  @media screen and (min-width: $desktop) {
    margin-top: 60px;
  }

  .Order_contactDetails__SILei {
    padding-left: 20px;
    padding-right: 20px;
    gap: 6.5rem clamp(2rem, 4vw, 7.2rem);
  }

  .mydetails-btn-edit {
    display: flex;
    margin-top: 70px;
    margin-left: auto;
    margin-right: 20px;
    background-color: $secondary-color-purple;
    border-radius: 5px;
    padding: 12px 28px;
    width: 220px;
    height: 48px;
  }

  .btn-text {
    color: $secondary-color-white;
  }

  svg {
    margin-left: 5px;
  }

  .input-settings-container {
    display: flex;
    flex-direction: column;
  }

  .label-settings > label {
    display: flex;
    flex-direction: column;
  }

  .mydetails-btn-change {
    margin-top: 70px;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 20px;
  }

  .mydetails-btn-cancel {
    border: 2px solid $secondary-color-purple;
    border-radius: 5px;
    padding: 12px 32px;
    width: 145px;
    height: 48px;
  }

  .mydetails-btn-cancel .btn-text {
    color: $secondary-color-purple;
  }

  .mydetails-btn-save {
    border: 2px;
    background-color: $secondary-color-purple;
    border-radius: 5px;
    padding: 12px 32px;
    width: 145px;
    height: 48px;
  }

  .mydetails-btn-save text {
    color: $secondary-color-white;
  }
}
